
@{
    ViewBag.Title = "ThemMonHoc";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}

@section header{
    <link rel="stylesheet" href="~/Content/ThemSinhVien.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
}

@Html.ValidationSummary(true, null)
@using (Html.BeginForm("ThemMonHoc", "Subject", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="contain-all">
        <div class="Review-Avatar">
            <div id="ava">
                <img id="iconPick" width="500px" src="~/Content/subject-8dfe382901fa8125d1c7aa90fe2678768aa7a0ec.png">
            </div>
        </div>
        <div class="Input">
            <form>
                <div class="form-group">
                    <label for="usr">Tên môn học:</label>
                    <input name="TenMH" type="text" class="form-control" id="usr">
                    <label for="pwd">Số tín chỉ:</label>
                    <input name="SoTinChi" type="number" class="form-control" id="pwd">
                    <label for="pwd">Học kỳ:</label>
                    <input name="HocKi" type="number" class="form-control" id="pwd">
                    <label for="pwd">Chọn mã ngành:</label>
                    <select class="form-control" id="sel1" name="MaNganh">
                        @foreach (var items in ViewBag.ListNganh)
                        {
                            <option value="@items.MaNganh">@items.TenNganh</option>
                        }
                    </select>
                    <br />
                    <input type="submit" value="Thêm môn học" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>
}
